<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %} {% endblock %}</title>

  {% block css %} {% endblock %}


  <!-- Facebook Plugin Script Here-->
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=328969763907746&autoLogAppEvents=1"></script>


</head>

<body>

  <!-- Header Manu Start -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">dbTechnical</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}{% endblock homeactive %}">
          <a class="nav-link" href="/social/home/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block aboutactive %}{% endblock aboutactive %}">
          <a class="nav-link" href="/social/about/">AboutUs</a>
        </li>
        <li class="nav-item {% block blogactive %}{% endblock blogactive %}">
          <a class="nav-link" href="/social/"> Notice</a>
        </li>        
        <li class="nav-item {% block contactactive %}{% endblock contactactive %}">
          <a class="nav-link" href="/social/contact/">ContactUs</a>
        </li>
      </ul>

    
    <form  class="form-inline mx-2">
      <input class="form-control mr-sm-2" Required type="search" name="query" id="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   {% if user.is_authenticated %}    
    <ul class="navbar-nav navbar-expand">
     <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WellCome: {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="btn btn-outline-success dropdown-item" href="/accounts/logout">LogOut</a>  
        </div>
      </li>
      <li class="nav-item dropdown">
       {% if user.is_superuser %}   
          <a class="btn btn-outline-success" href="/admin">Admin</a> 
        {% else %}
          {% if user.is_authenticated %}  
          <a class="btn btn-outline-success" href="/social/profile/edit/{{ user.id}}">Edit Profile</a> 
           {% endif %} 
        {% endif %} 
        </li>
    </ul>
    {% else %} 

     <!-- Button trigger Login/SignUp modal -->     
  {% comment %} <button type="button" class="btn btn-success mr-2 my-sm-0" data-toggle="modal" data-target="#loginModel"> </button> {% endcomment %}

  <a href="/accounts/login/" class="btn btn-success mr-2 my-sm-0" >Login</a>  
  <a href="/accounts/register/" class="btn btn-success mr-2 my-sm-0" >SignUp</a> 
  {% comment %} <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#SignUp">
    SignUp
  </button> {% endcomment %}
  {% endif %}
 
  </div>
  </nav>
  <!-- Header Manu End -->

 

  {% comment %} <!-- SignUp Modal -->
  <div class="modal fade" id="SignUp" tabindex="-1" role="dialog" aria-labelledby="SignUpModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SignUpModelLabel">SignUp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="post">{% csrf_token %} 
            <div class="form-group">
              <label for="userName">User Name</label>
              <input type="text" class="form-control" id="userName" name="userName" placeholder="choose User Name">
            </div>
            <div class="form-group">
              <label for="fName">First Name</label>
              <input type="text" class="form-control" Required id="fName" name="fName" placeholder="Enter First Name">
            </div>
             <div class="form-group">
              <label for="lName">Last Name</label>
              <input type="text" class="form-control" id="lName" name="lName" placeholder="Enter Last tName">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" Required id="email" name="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="pass1">Enter Password</label>
              <input type="Password" class="form-control" Required id="pass1" name="pass1" placeholder="choose Password">
            </div>
            <div class="form-group">
              <label for="pass2">Confirm Password </label>
              <input type="Password" class="form-control" Required id="pass2" name="pass2" placeholder="Enter Confirm Password">
            </div>
            <button type="submit" id="btnSignUp" name="btnSignUp" class="btn btn-primary">Submit</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>

 <!-- Login Modal -->
  <div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="LoginModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModelLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="post">{% csrf_token %} 
            <div class="form-group">
              <label for="loginName">User Name</label>
              <input type="text" class="form-control" Required id="loginName" name="loginName" placeholder="UserName">
            </div>
            <div class="form-group">
              <label for="loginpassword">Password</label>
              <input type="Password" class="form-control" Required id="loginpassword" name="loginpassword" >
            </div>            
            <button type="submit" id="btnLogin" name="btnLogin" class="btn btn-primary">Login</button>
          </form>
        </div>
        
      </div>
    </div>
  </div> {% endcomment %}


  <!-- Body Part Here -->
  {% block content %}

  {% endblock %}




  <!-- FooterStart -->
  <footer class="container mt-3">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2020 dbTechnical. · <a href="/privacy">Privacy</a> · <a href="#">Terms</a></p>
  </footer>

  


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  {% block js %} {% endblock %}




</body>

</html>